.regBox{
	width:420px;
	min-height:340px;
	background:#eee;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding:20px;
}

input[type='text']{
font-family:Georgia,serif;
width: 200px;
margin-bottom: 12px;
padding-top: 4px;
padding-bottom: 4px;
border:3px solid #163d6b;
padding-left: 10px;
color: #163d6b;
font-size: 16px;
}

input[type='password']{
font-family:Georgia,serif;
width: 200px;
margin-bottom: 12px;
padding-top: 4px;
padding-bottom: 4px;
border:3px solid #163d6b;
padding-left: 10px;
color: #163d6b;
font-size:16px;
}



.reg label{
	font-family:Georgia,serif;
	color: #163d6b;
	font-weight: bold;
}

.reg h2{
	font-family:Georgia,serif;
	color: #163d6b;
	font-size: 25px;
	text-align: center;
}

button{
	padding: 6px 14px;
	background: #163d6b;
	color: #eee;
	border:0;
	font-size:14px;
	cursor: pointer;
}

.reg a{
	color: #163d6b;
}